body {
    margin: 0px;
    font-size: $font-size;
    font-family: 'Courier New', monospace;
    background-color: blanchedalmond;

    main > * {
        padding: 0px 16px;
    }
}

a {
    color: #369;
    text-decoration: none;
}
