.blog {
    display: block;
    margin: 0px;
    padding: 1px 12px 160px;
    background-color: #369;
    font-size: 16px;

    word-wrap: break-word;
    overflow-wrap: break-word;

    .blog-header {
        text-align: center;
        color: papayawhip;

        .blog-title {
            font-size: 3.2em;
        }
    }

    .blog-content {
        padding: 24px;
        background-color: whitesmoke;
        border-radius: 30px;

        margin: auto;
        max-width: 900px;

        h1 {
            font-size: 2.4em;
            color: red;
            border-bottom: 2px solid #633;
            padding-top: 16px;

            &:first-child {
                border-bottom: none;
            }
        }
        h2 {
            padding: 9px;
            font-size: 1.6em;
            color: green;
            border-bottom: 1px solid #363;
        }
        h3 {
            font-size: 1.4em;
            color: blue;
        }

        ul, pre {
            overflow-x: auto;
        }

        table {
            display: block;
            line-height: 1.6em;
            border-collapse: collapse;
            overflow: auto;
        }

        th, td{
            padding: 3px 6px;
        }

        thead th {
            border-bottom: 1px solid hsl(180, 0%, 10%);
        }
        tbody td {
            border-bottom: 1px solid hsl(180, 0%, 80%);
        }

        blockquote img {
            max-width: 100%;
            border-radius: 16px;
        }
    }
}